.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 450px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.table-container {
  margin: 20px auto;
  width: 80%; 
  max-height: 90vh; 
  overflow-x: auto; 
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.query-explain {
  width: 80%;
  background-color: #f2f2f2;
  margin: 30px auto;
}